{% extends 'base.html' %}

{% block content %}
    <div class="container py-5 card bg-dark">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                             alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">{{ user.first_name }} {{ user.last_name }}</h5>
                        <p class="text-muted mb-1">{% if user.is_trainer %} Trainer {% else %} Gym User {% endif %}</p>
                        <div class="d-flex justify-content-center mb-2">
                            <button type="button" class="btn btn-outline-primary ms-1">Message</button>
                        </div>
                    </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush rounded-3">
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                                <p class="mb-0">@tu bedzie twiter</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                                <p class="mb-0">tu insta</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                                <p class="mb-0">to facebook</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.first_name }} {{ user.last_name }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.email }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Mobile</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">(098) 765-4321</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body">
                                <p class="mb-4">Body Data</p>
                                <p class="mb-1" style="font-size: .77rem;">Gender: {{ user.gender }}</p>

                                <p class="mt-4 mb-1" style="font-size: .77rem;">Height: {{ user.height_cm }} cm</p>

                                <p class="mt-4 mb-1" style="font-size: .77rem;">Weight: {{ user.weight_kg }} kg</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body">
                                <p class="mb-4">Records</p>
                                <p class="mb-1" style="font-size: .77rem;">Squat: {{ user.squat_record_kg }} kg</p>

                                <p class="mt-4 mb-1" style="font-size: .77rem;">Dead lift: {{ user.dead_lift_record_kg }} kg</p>

                                <p class="mt-4 mb-1" style="font-size: .77rem;">Bench press: {{ user.bench_press_record_kg }} kg</p>

                                <p class="mt-4 mb-1" style="font-size: .77rem;">Pull up: {{ user.pull_up_record_amount }} reps</p>

                                <p class="mt-4 mb-1" style="font-size: .77rem;">Dips: {{ user.dips_record_amount }} reps</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}